body.body {
    // TODO We willen een CBS-blauwe achtergrondkleur.
    // background-color:#0066ff
    background-color: #00A1CD;
    font-color: #FFFFFF;
}

.info, .success, .warning, .error {
margin: 10px 0px;
padding:12px;

}
.info {
    color: #00529B;
    background-color: #BDE5F8;
}
.success {
    color: #4F8A10;
    background-color: #DFF2BF;
}
.warning {
    color: #9F6000;
    background-color: #FEEFB3;
}
.error {
    color: #D8000C;
    background-color: #FFD2D2;
}
.info i, .success i, .warning i, .error i {
    margin:10px 22px;
    font-size:2em;
    vertical-align:middle;
}

