// Modificaties bovenop pivot.css

table.pvtTable tbody tr td {
}
.witteCel {
    background-color: #FFFFFF;
}
.grijzeCel {
    background-color: #D3D3D3;
}
.selected {
    background-color: yellow;
}

table.pvtTable thead tr th, table.pvtTable tbody tr th {
    color: #3D3D3D;
}
