{% extends "layout.html" %}
<!--
<!Doctype html>
<html lang="nl">
-->

{% block content %}

<form action="" class="form form-horizontal margin-medium" enctype="multipart/form-data" method="post">

	<body>
		<!-- <body bgcolor="#0080FF"> -->
		<body bgcolor="#0066FF">
		<font color="#FFFFFF">
		<div class="col-sm-12">
			<br>
				<center>
					<h2>Welkom bij de controle tool voor iv3 leveringen aan het CBS V1.1</h2>
					<p>Een hulpmiddel om te controleren of uw json bestand voldoet aan de plausibiliteits toetsen van het CBS</p>
					<ul>
						<li>Dit hulpmiddel is bedoelt voor overheidsinstanties die de eigen financiële gegevens <br/>
							beschikbaar willen stellen voor download door het CBS.</li>
						<li>Het is niet mogelijk om gegevens direct aan het CBS te zenden.</li>
					</ul>
					<form method="post" enctype="multipart/form-data">
					 <div>
					   <label for="file">Kies een JSON bestand ter controle</label><br/>
					   <input type="file" id="file" accept=".json" name="file" multiple>
					 </div>
						<br/>

                     <div>
					   <button>Start Controle van gekozen JSON bestand</button>
					 </div>
					</form>
					<!--
                    <div>
						<input type="text" value="8" name="mytextbox" size="1"/>
						<input type="submit" class="btn" value="Selecteer een JSON bestand" name="HaalBestandOp" value="okido">
						<a href="{{url_for('matrix')}}" class="btn-secundary">matrices</a>
					</div>
                    -->
				</center>
			</br>
		</div>
		</font>
    </body>

</form>
{% endblock %}

<!--
</html>
-->