<!DOCTYPE html>
<html lang="en">
<head>

    <link href="{{url_for('static', filename='css\main.css') }}" rel="stylesheet">
    <meta charset="utf-8">
    <title>Check iv3</title>


    <meta name="viewport" content="width=device-width, initial-scale=1.0">


</head>
<body class="body" style = "backgroud-color:#f6f6f6">
    <div class="container-fluid" style="minheight:95%; ">
        <div class ="row">
            <div class="col-sm-10">
                <br>
                <center>
                    <font color="#FFFFFF">
                        <h1> CBS Controle hulpmiddel voor iv3 bestanden</h1>
                    </font>
                </center>
            </div>
        </div>
    </div>

    <div>
        {% block content %}
        {% endblock %}
    </div>
</body>

</html>