<!DOCTYPE html>
<html lang="en">
<head>

    <link href="{{url_for('static', filename='css/main.css') }}" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/pivot.css') }}">
    <meta charset="utf-8">
    <title>Check iv3</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <script src="https://d3js.org/d3.v5.min.js"></script> -->

    <!-- External libs -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.5/d3.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui-touch-punch/0.2.3/jquery.ui.touch-punch.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/PapaParse/4.1.2/papaparse.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/chosen/1.4.2/chosen.jquery.js"></script>
    <script src="https://cdn.plot.ly/plotly-basic-latest.min.js"></script>

    <!-- Pivot table -->
    <script type="text/javascript" src="{{ url_for('static', filename='js/pivot.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/d3_renderers.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/plotly_renderers.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/export_renderers.js') }}"></script>

</head>
<body class="body" style = "background-color:#0066ff">
    <div class="container-fluid" style="minheight:95%; ">
        <div class ="row">
            <div class="col-sm-10">
                <br>
                <center>
                    <font color="#FFFFFF">
                        <h1> CBS Controle hulpmiddel voor iv3 bestanden</h1>
                    </font>
                </center>
            </div>
        </div>
    </div>

    <div>
        {% block content %}
        {% endblock %}
    </div>
</body>

</html>
