{% extends "layout.html" %}

{% block content %}
<style>
body {font-family: Arial;}

/* Style the tab */
.tab {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
}

/* Style the buttons inside the tab */
.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  font-size: 17px;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
}
/* Make single line borders within the table */
table {
  border-collapse: collapse;
}
</style>
<body>
    <script>
        var data = {{ data | tojson }};
    </script>
    <body bgcolor="#0080FF">
    <font color="#FFFFFF">
    <div>nr: {{ meta['overheidsnummer']}} {{ meta['overheidsnaam'] }}</div>
    <div>Periode: {{ meta['boekjaar']}} {{ meta['periode']}} {{meta['status']}}</div>
    <div>sjabloon: {{ sjabloon['Type'] }}</div>

             <!-- Tab links -->
                <div class="tab">
                  <button class="tablinks" onclick="openTab(event, 'Lasten')">Lasten</button>
                  <button class="tablinks" onclick="openTab(event, 'Baten')">Baten</button>
                  <button class="tablinks" onclick="openTab(event, 'Balans')">Balans</button>
                    <button class="tablinks" onclick="openTab(event, 'Controles')">Controles</button>
                </div>

                <!-- Tab content -->
                <div id="Lasten" class="tabcontent">
                  <h3>Lasten</h3>
                   <div class="container">



                     <table border="1">
                         <thead> <tr> <th> </th>
                         {% for kol_nr in range(h['kolkop']|count) %}
                           <th>{{h['kolkop'][kol_nr]}}</th>
                         {% endfor %}
                         </tr></thead>
                         <tbody>
                         {% for rij in x['regels'] %}
                            <tr>
                                {% for kol  in rij %}
                                    <td>{{ kol }} </td>
                                {% endfor%}
                            </tr>
                         {% endfor %}

                    </table>
                    </div>
                </div>

                <div id="Baten" class="tabcontent">
                  <h3>Baten</h3>
                  <p>Tja... komt nog.</p>
                </div>

                <div id="Balans" class="tabcontent">
                  <h3>Balans</h3>
                  <p>De balans is in evenwicht.</p>
                </div>

                <div id="Controles" class="tabcontent">
                  <h3>Controles</h3>
                  <p>Controles moeten nog worden gebouwd.</p>
                </div>



	<table id="overzicht"/>
	<table id="detail"/>

	<script src="{{url_for('static', filename='js/matrix.js')}}"></script>

    </font>
    <script>

    function openTab(evt, cityName) {
      // Declare all variables
      var i, tabcontent, tablinks;

      // Get all elements with class="tabcontent" and hide them
      tabcontent = document.getElementsByClassName("tabcontent");
      for (i = 0; i < tabcontent.length; i++) {
        tabcontent[i].style.display = "none";
      }

      // Get all elements with class="tablinks" and remove the class "active"
      tablinks = document.getElementsByClassName("tablinks");
      for (i = 0; i < tablinks.length; i++) {
        tablinks[i].className = tablinks[i].className.replace(" active", "");
      }

      // Show the current tab, and add an "active" class to the button that opened the tab
      document.getElementById(cityName).style.display = "block";
      evt.currentTarget.className += " active";
    }
    </script>
    </body>

{% endblock %}
