{% extends "layout.html" %}

{% block content %}
<body>
    <body bgcolor="#0080FF">
    <font color="#FFFFFF">
        <main class="matrix overzicht lasten">
            <div class="container">
                <p> hier moet het eerste tabelletje komen</p>
                 <table>
                    {% for group in x %}
                         {% for row in group %}
                         <tr>
                           <td>{{ row[0] }}</td>
                           <td>{{ row[1] }}</td>
                         </tr>
                        {% endfor %}
                    {% endfor %}

                </table>
            </div>
        </main>

    </font>

    </body>

{% endblock %}