{% extends "layout.html" %}

{% block content %}

	<form class="form form-horizontal margin-medium" enctype="multipart/form-data" method="post">
		<div class="col-sm-12">
			<br>
				<center>
					<h1>OCIDO</h1>
					<h2>Online Controle Iv3 Decentrale Overheden {{versienummer}}</h2>
					<h4>Dit hulpmiddel is bedoeld voor controle en inzending van iv3 data door overheidsinstanties.</h4>
					<br/>

					<div class="input-group col-sm-4 center-block">
    					<label class="input-group-btn">
							<span class="btn btn-primary btn-block">
            				Kies een JSON-bestand&hellip;
							<input id="file" accept=".json" name="file" type="file" style="display:none;"
								   onchange="$('#upload-file-info').val($(this).val().split('\\').pop());
								   				$('div#error_messages').empty();">
							</span>
						</label>
						<input type="text" class="form-control text-center" id="upload-file-info" readonly>
					</div>

					<div style="clear:both;height:2em;"></div>

					<div class="input-group col-sm-4 center-block">
					   <button class="btn btn-primary btn-block">
						   Start controle van het gekozen JSON-bestand
					   </button>
					</div>

                    <br/>

					<div id="error_messages">
                    {% for errormessage in errormessages %}
						<div class="error">{{ errormessage }}</div>
                    {% endfor %}
					</div>

					<!--
                    <div>
						<input type="text" value="8" name="mytextbox" size="1"/>
						<input type="submit" class="btn" value="Selecteer een JSON bestand" name="HaalBestandOp" value="okido">
						<a href="{{url_for('main.matrix')}}" class="btn-secundary">matrices</a>
					</div>
                    -->
				</center>
			</br>
		</div>
	</form>
{% endblock %}

<!--
</html>
-->
