<!DOCTYPE html>
<html lang="en">
<head>

    <!-- <link href="{{url_for('static', filename='css/main.css') }}" rel="stylesheet"> -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.min.css') }}" >
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap-theme.min.css') }}" >
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/pivot.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/pivot_extra.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/cbs-style.min.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/ctiv.css') }}" >
    <meta charset="utf-8">
    <title>Check iv3</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <script src="https://d3js.org/d3.v5.min.js"></script> -->

    <!-- External libs -->
    <script type="text/javascript" src="{{ url_for('static', filename='js/extern/jquery.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/extern/jquery-ui.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/extern/d3.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/extern/jquery.ui.touch-punch.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/extern/papaparse.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/extern/chosen.jquery.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/extern/plotly-basic-latest.min.js') }}"></script>
    <!-- <script type="text/javascript" src="jquery-3.3.1.min.js"></script> -->

    <!-- Pivot table -->
    <script type="text/javascript" src="{{ url_for('static', filename='js/extern/pivot.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/extern/d3_renderers.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/extern/plotly_renderers.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/extern/export_renderers.js') }}"></script>

    <!-- Custom -->
    <script type="text/javascript" src="{{ url_for('static', filename='js/custom/matrix.js') }}"></script>

</head>
<!--body class="body" style="background-color: #00A1CD"-->
<body class="body" style="background-color: #E4E1DD ">
    <div class="container-fluid" style="min-height:95%; ">
        <div class ="row">
            <div class="col-sm-12">
                <br>
                <center>
                    <div style="clear: both">
                         <img src="{{url_for('static', filename='images/cbsLogo.jpg')}}"
                            alt="cbs logo" height="64" width="50" style="float: left">
                        <h1 style="float: center"> Centraal Bureau voor de Statistiek </h1>
                    </div>
                </center>
            </div>
        </div>
    </div>

    <div>
        {% block content %}
        {% endblock %}
    </div>
</body>

</html>
