{% macro draaitabel(tabel) %}

<!-- Tab content -->
<div class="container">
    <!-- TODO Je kunt spelen met class=table of table-striped -->
    <!-- https://getbootstrap.com/docs/3.3/css/#tables-example -->
    <table border="1" class="pvtTable table" style="opacity: 1"
           rij_naam='{{ tabel.rij_naam }}'
           kolom_naam='{{ tabel.kolom_naam }}'
           data='{{ tabel.data | tojson }}'
           detail_kolommen='{{ tabel.geef_detail_kolommen() | tojson }}'
    >
        <thead>
        <tr>
            <th colspan="1" rowspan="1"></th>
            <th class="pvtAxisLabel">{{ tabel.kolom_naam }}</th>

            {% for kolom in tabel.kolommen %}
            <th class="pvtTable pvtColLabel" colspan="1" rowspan="2">
                {{' ' + kolom + ' '}}
            </th>
            {% endfor %}
        </tr>
        <tr>
            <th class="pvtAxisLabel">{{ tabel.rij_naam }}</th>
        </tr>
        </thead>
        <tbody>

        {% for rij in tabel.rijen %}
        <tr>
            <th class="pvtRowLabel" rowspan="1" colspan="2">
                {{ rij }}
            </th>
            {% for kolom in tabel.kolommen %}
            <td class="pvtVal"
                {{ tabel.rij_naam }}="{{ rij }}"
                {{ tabel.kolom_naam }}="{{ kolom }}"
                onclick="vul_detail(this, '{{ tabel.rij_naam }}', '{{ tabel.kolom_naam }}');"
                onkeydown="vul_detail(this, '{{ tabel.rij_naam }}', '{{ tabel.kolom_naam }}');"
            >
                {{ tabel[rij, kolom] }}
            </td>
            {% endfor %}
        </tr>
        {% endfor %}
    </table>

    <p>Klik een cel aan voor detail-informatie</p>
</div>

{% endmacro %}

{% macro controle_resultaat(resultaat) %}
<h4>Uitvoer van {{ resultaat.controle.omschrijving }}</h4>

{% if resultaat.is_geslaagd() %}
<p class="success">De controle is geslaagd.</p>
{% else %}
<p class="error">De controle is gefaald. Zie onderstaande rapportage:</p>

<ol>
    {% for opmerking in resultaat.rapportage() %}
    <li>{{ opmerking }}</li>
    {% endfor %}
</ol>

{% endif %}

{% endmacro %}
