
{% macro set_javascript_debug_status(debug_status) %}

{% set javascript_debug_status = (debug_status|string).lower() %}
<script>
    // zet javascript const DEBUG_STATUS
    const DEBUG_STATUS = ("{{ javascript_debug_status }}" === "true");
</script>

{% endmacro %}


{% macro draaitabel(tabel) %}

<!-- Tab content -->
<div class="container">
    <!-- TODO Je kunt spelen met class=table of table-striped -->
    <!-- https://getbootstrap.com/docs/3.3/css/#tables-example -->
    <table border="1" class="table pvtTable draaitabel" style="opacity: 1"
           naam='{{ tabel.naam }}'
           rij_naam='{{ tabel.rij_naam }}'
           kolom_naam='{{ tabel.kolom_naam }}'
           data='{{ tabel.data | tojson }}'
           detail_kolommen='{{ tabel.geef_detail_kolommen() | tojson }}'
           contenteditable={{ tabel.is_bewerkbaar }}
    >
        <thead>
        <tr>
            <th colspan="1" rowspan="1"></th>
            <th class="pvtAxisLabel">{{ tabel.kolom_naam.title() }}</th>

            {% for kolom in tabel.kolommen %}
            <th class="pvtTable pvtColLabel" colspan="1" rowspan="2">
                {{' ' + kolom + ' '}}
            </th>
            {% endfor %}
        </tr>
        <tr>
            <th class="pvtAxisLabel">{{ tabel.rij_naam.title() }}</th>
        </tr>
        </thead>
        <tbody>

        {% for rij in tabel.rijen %}
        <tr>
            <th class="pvtRowLabel" rowspan="1" colspan="2">
                {{ rij }} {{ tabel.geef_rij_omschrijving(rij) }}
            </th>
            {% for kolom in tabel.kolommen %}
            <td class="td default" nowrap="true"
                {{ tabel.rij_naam }}="{{ rij }}"
                {{ tabel.kolom_naam }}="{{ kolom }}"
                {% if tabel.detail_weergave %}
                onclick="vul_detail(this, '{{ tabel.rij_naam }}', '{{ tabel.kolom_naam }}');"
                onkeydown="vul_detail(this, '{{ tabel.rij_naam }}', '{{ tabel.kolom_naam }}');"
                {% endif %}
            >
                {{ tabel[rij, kolom] }}
            </td>
            {% endfor %}
        </tr>
        {% endfor %}
    </table>

    {% if tabel.detail_weergave %}
        <p>Klik een cel aan voor detail-informatie</p>
    {% else %}
        <p>Klik op een cel om deze te bewerken</p>
    {% endif %}
</div>

{% endmacro %}

{% macro controle_resultaat(resultaat) %}
<h4>Uitvoer van {{ resultaat.controle.omschrijving }}</h4>

{% if resultaat.is_geslaagd %}
<p class="success">De controle is geslaagd.</p>
{% else %}
<p class="error">De controle is onvoldoende. Zie onderstaande rapportage:</p>

<ol>
    {% for (opmerking, omschrijving) in resultaat.rapportage() %}
    <li title="{{ omschrijving }}">{{ opmerking }}</li>
    {% endfor %}
</ol>

{% endif %}

{% endmacro %}

{% macro record_toevoegen(draaitabel, data, bestandsnaam) %}

<form class="form-inline text-center muteerknoppen"
      role="form"
      method="post"
>
    <div class="form-group" style="padding-right: 50px;" naam="{{ draaitabel.rij_naam }}">
        <label for="rij">{{ draaitabel.rij_naam.title() }}:&nbsp; </label>
        <select class='form-control mutatie-invoer'
                style="width:100px;"
                name="{{ draaitabel.rij_naam }}">
            {% for code in draaitabel.geef_rij_keuzes() %}
            <option value="{{ code }}">
                {{ code }}: {{ draaitabel.geef_rij_omschrijving(code).title() }}
            </option>
            {% endfor %}
        </select>
    </div>
    <div class="form-group" style="padding-right: 50px;" naam="{{ draaitabel.kolom_naam }}">
        <label for="kolom">{{ draaitabel.kolom_naam.title() }}:&nbsp; </label>
        <select class='form-control mutatie-invoer'
                style="width:100px;"
                name="{{ draaitabel.kolom_naam }}" >
            {% for code in draaitabel.geef_kolom_keuzes() %}
            <option value="{{ code }}">
                {{ code }}: {{ draaitabel.geef_kolom_omschrijving(code).title() }}
            </option>
            {% endfor %}
        </select>
    </div>
    <div class="form-group" style="padding-right: 50px;" naam="{{ draaitabel.waarde_naam }}">
        <label for="bedrag">{{ draaitabel.waarde_naam.title() }}:&nbsp; </label>
        <input class="form-control mutatie-invoer"
               style="width:100px;"
               id="bedrag"
               type="number"
               name="bedrag"
               value="0"
        />
    </div>

    <input type="hidden"
           name="waarde_kant"
           value="{{ draaitabel.naam }}" />

    <input type="hidden"
           name="bestandsnaam"
           value='{{ bestandsnaam }}'/>

    <!-- TODO Onderstaande invoer is eigenlijk voor elke draaitabel hetzelfde -->
    <!-- Netter zou zijn om dit via een javascript functie op te halen. -->
    <input type="hidden"
           name="data"
           value='{{ data | tojson }}'/>

    <div class="form-group"><label style="width:100px;"></label></div>
    <button class="btn btn-primary" type="submit"
            title="Klik om mutatie te verwerken">
        Mutatie verwerken</button>
</form>

{% endmacro %}


{% macro bulkcorrecties_toevoegen(draaitabel, data, bestandsnaam, aantal_rijen) %}

{% set formulier_kolommen = ["Type", "Rij_soort", "Rij_code", "Kolom_soort", "Kolom_code"] %}
{% set formulier_kolommen = formulier_kolommen + ["Bedrag", "Opmerking", "Reset", "Check"] %}

{% set type_opties = {"Type": ["lasten", "baten", "balans_lasten", "balans_baten", "balans_standen"]} %}

{% set rij_soort_opties = {} %}
{% set rij_code_opties = {} %}
{% set kolom_soort_opties = {} %}
{% set kolom_code_opties = {} %}

{# haal de opties op voor de form-controls #}
{# rij_soort, rij_code, kolom_soort, kolom_code #}

{% for item in type_opties["Type"] %}
    {% set foo = rij_soort_opties.update({item: [draaitabel[item].rij_naam.title().lower()]}) %}
    {% set bar = rij_code_opties.update({item: draaitabel[item].geef_rij_keuzes()}) %}
    {% set foo = kolom_soort_opties.update({item: [draaitabel[item].kolom_naam.title().lower()]}) %}
    {% set bar = kolom_code_opties.update({item: draaitabel[item].geef_kolom_keuzes()}) %}
{% endfor %}


<form class="form-inline text-center muteerknoppen"
      id="Form_bulkcorrecties"
      role="form"
      method="post"
>

    <div class="form-group" style="margin-bottom: 20px;float: center">
        <input class="form-control mutatie-invoer"
               readonly="readonly"
               style="color: blue;width: 600px;margin-right: 200px;text-align: center;"
               value="Voer hieronder de correcties in en klik op de knop 'Correcties verwerken'">

        <button class="btn btn-primary" style="margin-right: 20px;"
                type="button"
                title="Klik om correcties te verwerken"
                onclick="bulkcorrecties_verwerken();">
                Correcties verwerken
        </button>

        <button class="btn btn-primary" style="float: right"
                type="button"
                title="Klik om formulier leeg te maken"
                onclick="formulier_bulkcorrecties_leegmaken();">
                Formulier leegmaken
        </button>
    </div>

    {% for rij in range(aantal_rijen) %}

    <div style="margin-bottom: 4px" id="{{ 'bulkcorr_' + rij|string }}">

        {% for kol in formulier_kolommen %}
        <div class="form-group" style="padding-right: 10px;">
            {% if rij == 0 and kol != "Check" %}
            <label class='form-control mutatie-invoer'
                   style="color: blue;display: block;margin-bottom: 10px;">{{ kol }}</label>
            {% endif %}
            {% if kol in ["Type", "Rij_soort", "Rij_code", "Kolom_soort", "Kolom_code"] %}
            <select class='form-control mutatie-invoer'
                    style="min-width: 150px;"
                    id="{{ kol.lower() }}"
                    data-default-value="" >
                    <option disabled selected value="">...</option>
                    {% for code in type_opties[kol] %}
                    <option value="{{ code }}">
                        {{ code }}
                    </option>
                    {% endfor %}
            </select>
            {% elif kol == "Bedrag" %}
            <input class="form-control mutatie-invoer"
                   style="min-width: 150px;"
                   id="{{ kol.lower() }}"
                   type="number"
                   value="0"
            />
            {% elif kol == "Opmerking" %}
            <input class="form-control mutatie-invoer"
                   style="min-width: 300px;"
                   id="{{ kol.lower() }}"
                   type="text"
                   value="Bulkcorrectie Ocido"
            />
            {% elif kol == "Reset" %}
            <button class="btn btn-primary"
                    style="float: right" type="button"
                    id="{{ kol.lower() }}"
                    title="Klik om correctieregel leeg te maken" >
                    Wis regel
            </button>
            {% elif kol == "Check" %}
            <input type="hidden"
                   id="check"
                   value="false"/>
            {% endif %}
        </div>
        {% endfor %}

    </div>

    {% endfor %}

    <input type="hidden"
           name="bestandsnaam"
           value='{{ bestandsnaam }}'/>
    <input type="hidden"
           id="rij_soort_opties"
           value='{{ rij_soort_opties }}'/>
    <input type="hidden"
           id="rij_code_opties"
           value='{{ rij_code_opties }}'/>
    <input type="hidden"
           id="kolom_soort_opties"
           value='{{ kolom_soort_opties }}'/>
    <input type="hidden"
           id="kolom_code_opties"
           value='{{ kolom_code_opties }}'/>

</form>

{% endmacro %}

