{% extends "layout.html" %}

{% block content %}
<style>
body {font-family: Arial;}

/* Style the tab */
.tab {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
}

/* Style the buttons inside the tab */
.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  font-size: 17px;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
}
/* Make single line borders within the table */
table {
  border-collapse: collapse;
}
</style>
<body>
    <script>
        /* is dit stukje nog nodig??? TG*/
        var data = {{ data | tojson }};
    </script>
    <body bgcolor="#1a1aff">
    <font color="#FFFFFF">
    <div>nr: {{ meta['overheidsnummer']}} {{ meta['overheidsnaam'] }}</div>
    <div>Periode: {{ meta['boekjaar']}} {{ meta['periode']}} {{meta['status']}}</div>
    <div>Datum : {{ meta['datum_aanmaak']}} </div>
    <div>Sjabloon: {{ sjabloon['Type'] }} , {{ sjabloon['Overheidslaag'] }} , {{ sjabloon['boekjaar'] }}   </div>

             <!-- Tab links -->
                <div class="tab">
                    <button class="tablinks" onclick="openTab(event, 'LastenLR')">Lasten lopende rekening</button>
                    <button class="tablinks" onclick="openTab(event, 'BatenLR')">Baten Lopende Rekening</button>
                    <button class="tablinks" onclick="openTab(event, 'LastenBM')">Lasten Balansmutaties</button>
                    <button class="tablinks" onclick="openTab(event, 'BatenBM')">Baten Balansmutaties</button>
                    <button class="tablinks" onclick="openTab(event, 'Balans')">Balans</button>
                    <button class="tablinks" onclick="openTab(event, 'Controles')">Controles</button>
                </div>

                <!-- Tab content -->
                <div id="LastenLR" class="tabcontent">
                  <h3>Lasten lopende rekening</h3>
                   <div class="container">

                     <table border="1" class="pvtTable" style="opacity: 1">
                         <thead>
                         <tr>
                             <th colspan="1" rowspan="1"></th>
                             <th class="pvtAxisLabel">Categorie</th>

                             {% for categorie in lasten.kolommen %}
                             <th class="pvtTable pvtColLabel" colspan="1" rowspan="2">
                                 {{' ' + categorie + ' '}}
                             </th>
                             {% endfor %}
                             <th class="pvtTotalLabel" rowspan="2">Totaal</th>
                         </tr>
                         <tr>
                             <th class="pvtAxisLabel">Taakveld</th>
                         </tr>
                         </thead>
                         <tbody>

                         {% for taakveld in lasten.rijen %}
                         <tr>
                             <th class="pvtRowLabel" rowspan="1" colspan="2">
                                 {{ taakveld }}
                             </th>
                             {% for kolom in lasten.kolommen %}
                             <td class="pvtVal" taakveld="{{ taakveld }}" categorie="{{ kolom }}">
                                 {{ lasten[taakveld, kolom] }}
                             </td>
                             {% endfor %}
                         </tr>
                         {% endfor %}

                    </table>
                    </div>
                </div>

                <div id="BatenLR" class="tabcontent">
                  <h3>Baten lopende rekening</h3>
                    <div class="container">

                     <table border="1">
                         <thead> <tr> <th> </th>
                         {% for kol_nr in range(baten_header['kolkop']|count) %}
                           <th>{{baten_header['kolkop'][kol_nr]}}</th>
                         {% endfor %}
                         </tr></thead>
                         <tbody>
                         {% for rij in baten_tabel['regels'] %}
                            <tr>
                                {% for kol  in rij %}
                                    <td>{{ kol }} </td>
                                {% endfor%}
                            </tr>
                         {% endfor %}

                    </table>
                    </div>
                </div>

                <div id="LastenBM" class="tabcontent">
                  <h3>Balansmutaties lasten</h3>
                  <div class="container">

                     <table border="1">
                         <thead> <tr> <th> </th>
                         {% for kol_nr in range(lasten_header['kolkop']|count) %}
                           <th>{{lasten_header['kolkop'][kol_nr]}}</th>
                         {% endfor %}
                         </tr></thead>
                         <tbody>
                         {% for rij in balans_lasten_tabel['regels'] %}
                            <tr>
                                {% for kol  in rij %}
                                    <td>{{ kol }} </td>
                                {% endfor%}
                            </tr>
                         {% endfor %}

                    </table>
                    </div>
                </div>

                <div id="BatenBM" class="tabcontent">
                  <h3>Balansmutaties baten</h3>
                  <div class="container">

                     <table border="1">
                         <thead> <tr> <th> </th>
                         {% for kol_nr in range(baten_header['kolkop']|count) %}
                           <th>{{baten_header['kolkop'][kol_nr]}}</th>
                         {% endfor %}
                         </tr></thead>
                         <tbody>
                         {% for rij in balans_baten_tabel['regels'] %}
                            <tr>
                                {% for kol  in rij %}
                                    <td>{{ kol }} </td>
                                {% endfor%}
                            </tr>
                         {% endfor %}

                    </table>
                    </div>
                </div>



                <div id="Balans" class="tabcontent">
                  <h3>Balans</h3>
                  <div class="container">

                     <table border="1">
                         <thead> <tr> <th> </th>
                         {% for kol_nr in range(balans_header['kolkop']|count) %}
                           <th>{{balans_header['kolkop'][kol_nr]}}</th>
                         {% endfor %}
                         </tr></thead>
                         <tbody>
                         {% for rij in balans_standen_tabel['regels'] %}
                            <tr>
                                {% for kol  in rij %}
                                    <td>{{ kol }} </td>
                                {% endfor%}
                            </tr>
                         {% endfor %}

                    </table>
                    </div>
                </div>

                <div id="Controles" class="tabcontent">
                  <h3>Controles</h3>
                  <p>Controles moeten nog worden gebouwd.</p>
                </div>



	<table id="overzicht"/>
	<table id="detail"/>

	<script src="{{url_for('static', filename='js/matrix.js')}}"></script>

    </font>
    <script>

    function openTab(evt, tabnaam) {
      // Declare all variables
      var i, tabcontent, tablinks;

      // Get all elements with class="tabcontent" and hide them
      tabcontent = document.getElementsByClassName("tabcontent");
      for (i = 0; i < tabcontent.length; i++) {
        tabcontent[i].style.display = "none";
      }

      // Get all elements with class="tablinks" and remove the class "active"
      tablinks = document.getElementsByClassName("tablinks");
      for (i = 0; i < tablinks.length; i++) {
        tablinks[i].className = tablinks[i].className.replace(" active", "");
      }

      // Show the current tab, and add an "active" class to the button that opened the tab
      document.getElementById(tabnaam).style.display = "block";
      evt.currentTarget.className += " active";
    }
    </script>
    </body>

{% endblock %}
