{% extends "layout.html" %}
{% from 'macros.html' import draaitabel %}

{% block content %}
<style>
body {font-family: Arial;}

/* Style the tab */
.tab {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
}

/* Style the buttons inside the tab */
.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  font-size: 17px;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
}
/* Make single line borders within the table */
table {
  border-collapse: collapse;
}
</style>


<body>
    <script src="{{ url_for('static', filename='js/detail.js') }}"/>
    <script>
        var data = {{ data | tojson }};
    </script>
    <body bgcolor="#1a1aff">
    <font color="#FFFFFF">
        <div>Inzender: {{ meta['overheidsnaam']}}</div>
        <div>Type: {{ meta['overheidslaag']}} nummer {{ meta['overheidsnummer']}}</div>
        <div>Periode: {{ meta['boekjaar']}} {{ meta['periode']}} {{meta['status']}}</div>
        <div>Datum : {{ meta['datum']}} </div>
        <div>Definitiebestand: {{ sjabloon['omschrijving'] }} , {{ sjabloon['overheidslaag'] }} , {{ sjabloon['boekjaar'] }}   </div>

             <!-- Tab links -->

                <div class="tab">
                    <button class="tablinks" onclick="openTab(event, 'LastenLR')">Lasten lopende rekening</button>
                    <button class="tablinks" onclick="openTab(event, 'BatenLR')">Baten lopende rekening</button>
                    <button class="tablinks" onclick="openTab(event, 'LastenBM')">Lasten balansmutaties</button>
                    <button class="tablinks" onclick="openTab(event, 'BatenBM')">Baten balansmutaties</button>
                    <button class="tablinks" onclick="openTab(event, 'Balans')">Balans standen</button>
                    <button class="tablinks" onclick="openTab(event, 'Controles')">Controles</button>
                </div>

        <!-- Tab content -->
        <div id='LastenLR' class="tabcontent">
            <h3>Lasten lopende rekening</h3>
                {{ draaitabel(lasten) }}
        </div>

        <div id='BatenLR' class="tabcontent">
            <h3>Baten lopende rekening</h3>
            {{ draaitabel(baten) }}
        </div>

        <div id="LastenBM" class="tabcontent">
            <h3>Balansmutaties lasten</h3>
            {{ draaitabel(balans_lasten) }}
        </div>

        <div id='BatenBM' class="tabcontent">
            <h3>Balansmutaties baten</h3>
            {{ draaitabel(balans_baten) }}
        </div>

        <div id="Balans" class="tabcontent">
            <h3>Balans</h3>
            {{ draaitabel(balans_standen) }}
        </div>

        <div class="container">
            <table id="Detail" class="pvtTable" border="1" style="opacity: 1">
                <thead> <tr></tr> </thead>
                <tbody></tbody>
            </table>
        </div>

        <div id="LastenDetail">
            <table>
                <thead>

                </thead>
                <tbody>

                </tbody>
            </table>
        </div>

    </font>
    <script>

    function openTab(evt, tabnaam) {
      // Declare all variables
      var i, tabcontent, tablinks;

      // Verberg tabel met details
      $("#Detail").hide(0);

      // Get all elements with class="tabcontent" and hide them
      tabcontent = document.getElementsByClassName("tabcontent");
      for (i = 0; i < tabcontent.length; i++) {
        tabcontent[i].style.display = "none";
      }

      // Get all elements with class="tablinks" and remove the class "active"
      tablinks = document.getElementsByClassName("tablinks");
      for (i = 0; i < tablinks.length; i++) {
        tablinks[i].className = tablinks[i].className.replace(" active", "");
      }

      // Show the current tab, and add an "active" class to the button that opened the tab
      document.getElementById(tabnaam).style.display = "block";
      evt.currentTarget.className += " active";
    }
    </script>


    </body>

{% endblock %}
