{% extends "layout.html" %}
{% from 'macros.html' import draaitabel, controle_resultaat %}

{% block content %}
<style>
body {font-family: Arial;}

/* Style the tab */
.tab {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
}

/* Style the buttons inside the tab */
.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  font-size: 17px;
  color: black;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
}
/* Make single line borders within the table */
table {
  border-collapse: collapse;
}
</style>


<body>
    <script src="{{ url_for('static', filename='js/detail.js') }}"/>
    <script>
        var data = {{ data | tojson }};
    </script>
    <body bgcolor="#1a1aff">
    <font color="#FFFFFF">
        <div style="position: relative;left: 5px;font-size: 17px;padding: 10px;">
            <div>Bestand: {{filenaam}}</div>
            <div>Inzender: {{ meta['overheidsnaam']}}</div>
            <div>Type: {{ meta['overheidslaag']}} nummer {{ meta['overheidsnummer']}}</div>
            <div>Periode: {{ meta['boekjaar']}} {{ meta['periode']}} {{meta['status']}}</div>
            <div>Datum : {{ meta['datum']}}</div>

            <div>
                Definitiebestand: {{ sjabloon['omschrijving'] }}, {{ sjabloon['overheidslaag'] }}, {{ sjabloon['boekjaar'] }}

                <button
                        class="btn btn-primary"
                        type="button"
                        title="Functionaliteit is nog niet beschikbaar!"
                        onclick="alert('Downloadfunctionaliteit is nog niet beschikbaar.');"
                        style="float: right" >
                    Data downloaden
                </button>
            </div>
        </div>
             <!-- Tab links -->

                <div class="tab">
                    <button class="tablinks" style="min-width:100px;"
                            onclick="openTab(event, 'LastenLR')">Lasten</button>
                    <button class="tablinks" style="min-width:100px;"
                            onclick="openTab(event, 'BatenLR')">Baten</button>
                    <button class="tablinks" style="min-width:100px;"
                            onclick="openTab(event, 'LastenBM')">Balansmutaties lasten</button>
                    <button class="tablinks" style="min-width:100px;"
                            onclick="openTab(event, 'BatenBM')">Balansmutaties baten</button>
                    <button class="tablinks" style="min-width:100px;"
                            onclick="openTab(event, 'Balans')">Balans standen</button>
                    <button class="tablinks" style="min-width:100px;"
                            onclick="openTab(event, 'Controles')">Controles</button>
                </div>

        <div style="clear:both;height:1em;"></div>

        <!-- Tab content -->
        <div id='LastenLR' class="tabcontent">
            <form class="form-inline text-center" role="form">
            <div class="form-group" style="padding-right: 50px;">
                <label for="rij">Taakveld:&nbsp; </label>
	            <input class="form-control" style="width:100px;" id="rij">
            </div>
            <div class="form-group" style="padding-right: 50px;">
                <label for="kolom">Categorie:&nbsp; </label>
	            <input class="form-control" style="width:100px;" id="kolom">
            </div>
            <div class="form-group" style="padding-right: 50px;">
                <label for="bedrag">Bedrag:&nbsp; </label>
	            <input class="form-control" style="width:100px;" id="bedrag">
            </div>
                <div class="form-group"><label style="width:100px;"></label></div>
                <button class="btn btn-primary" type="button"
                        title="Functionaliteit is nog niet beschikbaar!"
                        onclick="alert('Muteren functionaliteit is nog niet beschikbaar.');">
                        Mutatie verwerken</button>
            </form>

            <div style="clear:both;height:2em;"></div>

            {{ draaitabel(lasten) }}
        </div>

        <div id='BatenLR' class="tabcontent">
            <form class="form-inline text-center" role="form">
            <div class="form-group" style="padding-right: 50px;">
                <label for="rij">Taakveld:&nbsp; </label>
	            <input class="form-control" style="width:100px;" id="rij">
            </div>
            <div class="form-group" style="padding-right: 50px;">
                <label for="kolom">Categorie:&nbsp; </label>
	            <input class="form-control" style="width:100px;" id="kolom">
            </div>
            <div class="form-group" style="padding-right: 50px;">
                <label for="bedrag">Bedrag:&nbsp; </label>
	            <input class="form-control" style="width:100px;" id="bedrag">
            </div>
                <div class="form-group"><label style="width:100px;"></label></div>
                <button class="btn btn-primary" type="button"
                        title="Functionaliteit is nog niet beschikbaar!"
                        onclick="alert('Muteren functionaliteit is nog niet beschikbaar.');">
                        Mutatie verwerken</button>
            </form>

            <div style="clear:both;height:2em;"></div>

            {{ draaitabel(baten) }}
        </div>

        <div id="LastenBM" class="tabcontent">
            <form class="form-inline text-center" role="form">
            <div class="form-group" style="padding-right: 50px;">
                <label for="rij">Balanscode:&nbsp; </label>
	            <input class="form-control" style="width:100px;" id="rij">
            </div>
            <div class="form-group" style="padding-right: 50px;">
                <label for="kolom">Categorie:&nbsp; </label>
	            <input class="form-control" style="width:100px;" id="kolom">
            </div>
            <div class="form-group" style="padding-right: 50px;">
                <label for="bedrag">Bedrag:&nbsp; </label>
	            <input class="form-control" style="width:100px;" id="bedrag">
            </div>
                <div class="form-group"><label style="width:100px;"></label></div>
                <button class="btn btn-primary" type="button"
                        title="Functionaliteit is nog niet beschikbaar!"
                        onclick="alert('Muteren functionaliteit is nog niet beschikbaar.');">
                        Mutatie verwerken</button>
            </form>

            <div style="clear:both;height:2em;"></div>

            {{ draaitabel(balans_lasten) }}
        </div>

        <div id='BatenBM' class="tabcontent">
            <form class="form-inline text-center" role="form">
            <div class="form-group" style="padding-right: 50px;">
                <label for="rij">Balanscode:&nbsp; </label>
	            <input class="form-control" style="width:100px;" id="rij">
            </div>
            <div class="form-group" style="padding-right: 50px;">
                <label for="kolom">Categorie:&nbsp; </label>
	            <input class="form-control" style="width:100px;" id="kolom">
            </div>
            <div class="form-group" style="padding-right: 50px;">
                <label for="bedrag">Bedrag:&nbsp; </label>
	            <input class="form-control" style="width:100px;" id="bedrag">
            </div>
                <div class="form-group"><label style="width:100px;"></label></div>
                <button class="btn btn-primary" type="button"
                        title="Functionaliteit is nog niet beschikbaar!"
                        onclick="alert('Muteren functionaliteit is nog niet beschikbaar.');">
                        Mutatie verwerken</button>
            </form>

            <div style="clear:both;height:2em;"></div>

            {{ draaitabel(balans_baten) }}
        </div>

        <div id="Balans" class="tabcontent">
            <form class="form-inline text-center" role="form">
            <div class="form-group" style="padding-right: 50px;">
                <label for="rij">Balanscode:&nbsp; </label>
	            <input class="form-control" style="width:100px;" id="rij">
            </div>
            <div class="form-group" style="padding-right: 50px;">
                <label for="kolom">Standper:&nbsp; </label>
	            <input class="form-control" style="width:100px;" id="kolom">
            </div>
            <div class="form-group" style="padding-right: 50px;">
                <label for="bedrag">Bedrag:&nbsp; </label>
	            <input class="form-control" style="width:100px;" id="bedrag">
            </div>
                <div class="form-group"><label style="width:100px;"></label></div>
                <button class="btn btn-primary" type="button"
                        title="Functionaliteit is nog niet beschikbaar!"
                        onclick="alert('Muteren functionaliteit is nog niet beschikbaar.');">
                        Mutatie verwerken</button>
            </form>

            <div style="clear:both;height:2em;"></div>

            {{ draaitabel(balans_standen) }}
        </div>

        <div id="Controles" class="tabcontent">
            <h3 style="color:white;">Controles</h3>
            {% for resultaat in controle_resultaten %}
            {{ controle_resultaat(resultaat) }}
            {% endfor %}
        </div>

        <div id="DetailScherm" class="container">
            <p id="DetailHeader" style="color:white;margin-top: 10px;"></p>
            <table id="Detail" class="pvtTable default" border="1" style="opacity: 1">
                <thead> <tr></tr> </thead>
                <tbody></tbody>
            </table>
        </div>

    </font>
    <script>

    function openTab(evt, tabnaam) {
      // Declare all variables
      var i, tabcontent, tablinks;

      // Verberg tabel met details
      $("#DetailHeader").text("");
      $("#Detail").hide(0);

      // Get all elements with class="tabcontent" and hide them
      tabcontent = document.getElementsByClassName("tabcontent");
      for (i = 0; i < tabcontent.length; i++) {
        tabcontent[i].style.display = "none";
      }

      // Get all elements with class="tablinks" and remove the class "active"
      tablinks = document.getElementsByClassName("tablinks");
      for (i = 0; i < tablinks.length; i++) {
        tablinks[i].className = tablinks[i].className.replace(" active", "");
      }

      // Show the current tab, and add an "active" class to the button that opened the tab
      document.getElementById(tabnaam).style.display = "block";
      evt.currentTarget.className += " active";
    }
    </script>

    </body>

{% endblock %}
